<div class="md:text-left text-center text-base text-white md:pl-8 pt-4"><a routerLink="/"><i class="fas fa-home mr-2"></i> Home</a></div>
<div class="w-full h-auto text-center p-10 pb-12 pt-12 bg-slate-900">
    <div class="flex w-full justify-center align-baseline">
        <img src="../../../../../assets/images/owl3.png" alt="owl post logo" 
        class="w-10 h-10 md:w-14 md:h-14" style="margin-right: .5em;">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white">Owl Posts</h1>
    </div>
    
    <p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">The only posts you will ever need.</p>
    <!-- <h1 class="text-5xl font-extrabold font-sans"></h1> -->
</div>

<div class="p-4 pt-0 bg-slate-900">
    <router-outlet></router-outlet>
</div>