
<div class="w-full text-center p-8">
    <h2 class="text-white text-3xl">Budget For Q4</h2>
</div>
<div class="pb-8">
    
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-m text-white  uppercase">
                <tr class=" border-b border-gray-600 dark:border-gray-700">
                    <th scope="col" class="px-6 py-3 bg-slate-700">
                        Product name
                    </th>
                    <th scope="col" class="px-6 py-3 bg-slate-800">
                        Color
                    </th>
                    <th scope="col" class="px-6 py-3 bg-slate-700">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-3 bg-slate-800">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-600 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-slate-300 bg-slate-700 whitespace-nowrap">
                        Apple MacBook Pro 17"
                    </th>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        Silver
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-700">
                        Laptop
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        $2999
                    </td>
                </tr>
                <tr class="border-b border-gray-600 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-slate-300 bg-slate-700 whitespace-nowrap">
                        Microsoft Surface Pro
                    </th>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        White
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-700">
                        Laptop PC
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        $1999
                    </td>
                </tr>
                <tr class="border-b border-gray-600 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-slate-300 bg-slate-700 whitespace-nowrap">
                        Magic Mouse 2
                    </th>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        Black
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-700">
                        Accessories
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        $99
                    </td>
                </tr>
                <tr class="border-b border-gray-600 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-slate-300 bg-slate-700 whitespace-nowrap">
                        Google Pixel Phone
                    </th>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        Gray
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-700">
                        Phone
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        $799
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="px-6 py-4 font-medium text-slate-300 bg-slate-700 whitespace-nowrap">
                        Apple Watch 5
                    </th>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        Red
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-700">
                        Wearables
                    </td>
                    <td class="px-6 py-4 text-slate-300 bg-slate-800">
                        $999
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

