<div class="h-screen w-full cursor-pointer">
    <div class="h-1/2 w-full flex justify-center align-middle items-center border-b border-teal-400 hover:opacity-50" routerLink="dashboard/home">
        <img src="../../../../../assets/images/dashboard.png" alt="owl post logo" 
        class="w-10 h-10 md:w-14 md:h-14" style="margin-right: .5em;">
        <h1 class="text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl ">Dashboard</h1>
    </div>
    <div class="h-1/2 w-full flex justify-center align-middle items-center border-t border-teal-400 hover:opacity-50" routerLink="posts/list">
        <img src="../../../../../assets/images/owl3.png" alt="owl post logo" 
        class="w-10 h-10 md:w-14 md:h-14" style="margin-right: .5em;"><h1 class="text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl">Owl Posts</h1>
    </div>
</div>