<div class="bg-slate-700 shadow-lg rounded-lg">
    <div class="px-6 py-5 my-3">
        <div class="flex items-start">
            <!-- Card content -->
            <div class="flex-grow truncate">
                <!-- Card header -->
                <div class="w-full sm:flex justify-between items-center mb-3">
                    <!-- Title -->
                    <h2 class="text-2xl leading-snug font-extrabold text-gray-50 truncate mb-1 sm:mb-0">
                        {{post.title | titlecase}}
                    </h2>
                </div>
                <!-- Card body -->
                <div class="flex flex-col md:flex-row md:items-end md:justify-between md:whitespace-normal">
                    <!-- Paragraph -->
                    <div class="max-w-md text-indigo-100">
                        <p class="mb-2 truncate">{{post.body | titlecase}}</p>
                    </div>
                    <!-- More link -->
                    <div class="w-full flex justify-end">
                        <a class="flex-shrink-0 flex items-center justify-center text-white bg-teal-500 hover:bg-teal-700 w-10 h-10 rounded-full bg-gradient-to-b from-indigo-5 focus:outline-none focus-visible:from-white focus-visible:to-white transition duration-150 ml-2"
                            routerLink="/posts/post/{{post.id}}">
                            <span class="block font-bold"><i class="fas fa-external-link-square-alt"></i></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>