<div class="w-full text-center p-8">
    <h2 class="text-white text-3xl">Meet The Team</h2>
</div>
<div class="flex flex-wrap gap-4 items-center p-4 pt-0 justify-center">
    <div class="w-full max-w-sm bg-slate-800 border border-gray-600 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10 pt-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../../../assets/images/hero7.png"
                alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-white dark:text-white">Jamie Lenon</h5>
            <span class="text-sm text-gray-400 dark:text-gray-300">COO</span>
        </div>
    </div>
    <div class="w-full max-w-sm bg-slate-800 border border-gray-600 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10 pt-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../../../assets/images/hero8.png"
                alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-white dark:text-white">Brian Evans</h5>
            <span class="text-sm text-gray-400 dark:text-gray-300">CEO</span>
        </div>
    </div>
    <div class="w-full max-w-sm bg-slate-800 border border-gray-600 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10 pt-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../../../assets/images/hero10.png"
                alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-white dark:text-white">Emma Nichols</h5>
            <span class="text-sm text-gray-400 dark:text-gray-300">CFO</span>
        </div>
    </div>
    <div class="w-full max-w-sm bg-slate-800 border border-gray-600 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10 pt-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../../../assets/images/hero4.png"
                alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-white dark:text-white">Mike Terry</h5>
            <span class="text-sm text-gray-400 dark:text-gray-300">Web Developer</span>
        </div>
    </div>
    <div class="w-full max-w-sm bg-slate-800 border border-gray-600 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10 pt-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../../../assets/images/hero6.png"
                alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-white dark:text-white">Bonnie Green</h5>
            <span class="text-sm text-gray-400 dark:text-gray-300">Visual Designer</span>
        </div>
    </div>
</div>
