<div class="relative font-inter antialiased">
    <div class="w-full" *ngIf="loading">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </div>

    <main class="relative flex flex-col justify-center bg-white overflow-hidden" *ngIf="!loading">
        <div class=" px-4 md:px-6">
            <div class="flex justify-center flex-col items-center">

                <article class="w-11/12 bg-blue-700 shadow-lg rounded-lg p-4">
                    <div class="mb-4 text-center">
                        <a routerLink="/posts/list" class="text-gray-50"><- Go Back</a>
                    </div>

                    <header class="mb-4 text-center">
                        <h1 class="text-4xl font-extrabold text-gray-50">{{post.title}}</h1>
                        <span class="text-gray-50">By {{user.name}}</span>
                    </header>
                    <div
                        class="text-gray-50 text-lg [&>p]:my-6 [&>p:first-child]:mt-0 [&>p:last-child]:mb-0 [&_strong]:font-medium [&_strong]:text-slate-900">
                        <p>
                            {{post.body}}
                        </p>
                    </div>


                </article>
                <div class="w-11/12 p-4">
                    <div class="mt-4 mb-4 text-left">
                        <h2 class="text-2xl font-extrabold text-blue-700">Comments</h2>
                    </div>


                </div>


                @for(comment of comments; track $index ) {
                    <div class="w-11/12 p-4 bg-blue-700 shadow-lg rounded-lg mb-2">
                        <app-comments [comment]="comment"></app-comments>
                    </div>
                }
                @empty {
                    <div class="w-11/12 p-4">
                        <div class="mt-4 mb-4 text-center">
                            <p class="text-lg font-extrabold text-gray-700">No comments found</p>
                        </div>
                    </div>
                }




            </div>
        </div>
    </main>
</div>