<app-header></app-header>
<div class="w-full p-12 bg-slate-900">
    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-600 dark:text-gray-600 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
                <a routerLink="/dashboard/home" class="inline-block p-4    rounded-t-lg hover:text-gray-400 hover:border-gray-300 dark:hover:text-gray-300 " routerLinkActive="text-teal-400 border-teal-400 border-b-2 active" aria-current="page">Home</a>
            </li>
            <li class="me-2">
                <a routerLink="/dashboard/budget" class="inline-block p-4  rounded-t-lg hover:text-gray-400 hover:border-gray-300 dark:hover:text-gray-300" routerLinkActive="text-teal-400 border-teal-400 border-b-2 active">Budget</a>
            </li>
            <li class="me-2">
                <a routerLink="/dashboard/team" class="inline-block p-4  rounded-t-lg hover:text-gray-400 hover:border-gray-300 dark:hover:text-gray-300" routerLinkActive="text-teal-400 border-teal-400 border-b-2 active">Team</a>
            </li>
        </ul>
    </div> 
    
    <!-- <router-outlet></router-outlet> -->
</div>