<!-- <article class="w-11/12 bg-blue-700 shadow-lg rounded-lg p-4 mb-2"> -->
    <div class="flex">
        <div class="mr-2">
            <p-avatar label="{{comment.email[0]}}" styleClass="mr-2 gradient" size="large" shape="circle"></p-avatar>
        </div>
        <div class="flex flex-col text-gray-50">
            <div class="flex">
                <!-- <h4 class="text-m text-gray-50">{{comment.name}}</h4> -->
                <span class="ml-1 text-m text-gray-50">{{comment.email}}</span>
            </div>
            <div>
                <h3 class="text-m text-gray-300">{{comment.body}}</h3>
            </div>
        </div>
    </div>

<!-- </article> -->